body {
  font-family: MontSerrat;
  font-weight: 600;
}

table {
  border-spacing: 0px;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
}

thead {
  font-size: 1.5rem;
}

th,
td {
  border: 2px solid cornflowerblue;
  background-color: black;
  color: white;
  padding: 2rem;
}

th {
  text-align: start;
}

td {
  font-size: 1.25rem;
}
